---
# Based on ansible-lint config
extends: default

ignore: |
  venv/
  .venv/
  molecule/
  .github/workflows/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  colons:
    max-spaces-after: 1
    level: error
  commas:
    max-spaces-after: 1
    level: error
  comments:
    min-spaces-from-content: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  comments-indentation: enable
  document-start: enable
  empty-lines:
    max: 2
    level: error
  hyphens:
    level: error
  indentation: enable
  key-duplicates: enable
  line-length:
    max: 160
    level: warning
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  trailing-spaces: enable
  truthy:
    level: error
    allowed-values: ['true', 'false']
